  .about {
    position: relative;
    width: 80%;
    margin: 50px auto;
  }
  .about::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    width: 2px;
    background: #6495ED;
    border-radius: 2px;
    z-index: 0;
  }
  .about-item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
  }
  .about-side {
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-dot {
    background: #fff;
    border: 2px solid #6495ED;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 41.5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .about-image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }
  .about-content {
    background: #fff;
    border-radius: 10px;
    padding: 18px 22px;
    flex: 1;
    text-align: justify;
  }

  /* Mobile styling */
    @media (max-width: 600px) {
    .about {
      width: 98%;
    }
    .about-item {
      flex-direction: column;
      align-items: flex-start;
    }
    .about-side {
      width: 100px;
      height: 40px;
      margin-bottom: 12px;
    }
    .about-dot {
      top: 20px;
      transform: translateY(-50%);
    }
    .about-image {
      margin-bottom: 12px;
      margin-right: 0;
    }
  }
 
