.blog-item {
    background: #fff;
    padding: 5px 30px;
    border-radius: 10px;
    margin: 1em 0;
    border: 2px solid #777777;
}

.metadata {
    font-size: 0.9em;
    color: #777777;
    margin-bottom: 3em;
    margin-top: 0;
}
