.blog-item {
    background: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 1em 0;
    border: 2px solid #777777;
    text-align: justify;
    line-height: 1.5;
}

.metadata {
    font-size: 0.9em;
    color: #777777;
    margin-bottom: 3em;
    margin-top: 0;
}
