  .timeline {
    position: relative;
    width: 80%;
    margin: 50px auto;
  }
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 49px;
    width: 2px;
    background: #d4d4d4;
    border-radius: 2px;
    z-index: 0;
  }
  .timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
  }
  .timeline-side {
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .timeline-dot {
    background: #d4d4d4;
    border: 4px solid #d4d4d4;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 39.5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .timeline-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }
  .timeline-content {
    background: #fff;
    border-radius: 10px;
    padding: 18px 22px;
    flex: 1;
  }

  /* Mobile styling, can be re-enabled if needed
    @media (max-width: 600px) {
    .timeline {
      width: 98%;
    }
    .timeline-item {
      flex-direction: column;
      align-items: flex-start;
    }
    .timeline-side {
      width: 100px;
      height: 40px;
      margin-bottom: 12px;
    }
    .timeline-dot {
      left: 38px;
      top: 20px;
      transform: translateY(-50%);
    }
    .timeline-image {
      margin-bottom: 12px;
      margin-right: 0;
    }
  }
  */
