@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  max-width: 1000px;
  margin: 40px auto;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background: #f9f9f9;
}

h2.page-title {
  text-align: center;
  letter-spacing: 0.04em;
  font-size: 2em;
  margin-top: 1.5em;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
