<!doctype html>
<html lang="en-GB">
  <head>
    <link href="styles/style.css" rel="stylesheet" />
    <link href="styles/timeline.css" rel="stylesheet" />
    <link href="styles/publications.css" rel="stylesheet" />
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Thédié" />
    <meta name="description" content="" />

    <title>Daniel Thédié</title>
  </head>

  <body>
    <header>

      <div class="name-title">
        <h1>Daniel Thédié</h1>
      </div>
      
        <nav class="menu">
        <ul>
            <li><a href="index.html">About</a></li>
            <li><a href="software.html">Software</a></li>
            <li><a href="publications.html">Publications</a></li>
        </ul>
        </nav>

    </header>

    <main>

      <!-- CONTENT -->

    </main>
  </body>
</html>
