<!doctype html>
<html lang="en-GB">
  <head>
    <link href="styles/variables.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- STYLESHEET -->
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Thédié" />
    <meta name="description" content="Daniel Thédié - Research Software Engineer at the University of Edinburgh" />

    <title>Daniel Thédié</title>

  </head>

  <body>
    <header>
      
      <div class="name-title">
        <h1>Daniel Thédié</h1>
      </div>

      <img src="resources/Profile.jpg" alt="Picture of Daniel Thédié" class="profile-pic" />

      <p class="subtitle">Research Software Engineer at the University of Edinburgh</p>

      <div class="bio-links">
      <a href="mailto:daniel.thedie@ed.ac.uk" class="bio-link" target="_blank" rel="noopener">
        <span class="fa fa-envelope"></span>
      </a>
      <a href="https://github.com/DanielThedie" class="bio-link" target="_blank" rel="noopener">
        <span class="fab fa-github"></span>
      </a>
      <a href="https://orcid.org/my-orcid?orcid=0000-0002-1352-7245" class="bio-link" target="_blank" rel="noopener">
        <span class="fab fa-orcid"></span>
      </a>
      <a href="resources/CV_DanielThedie.pdf" class="bio-link" download>
        <span class="fa fa-file"></span>
      </a>
      </div>
      
      <nav class="menu">
        <div class="menu-burger" id="menuBurger" aria-label="Open menu" tabindex="0">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul id="menuList">
          <li><a href="index.html">About</a></li>
          <li><a href="software.html">Software</a></li>
          <li><a href="publications.html">Publications</a></li>
          <li><a href=<!-- LATEST_BLOG -->>Blog</a></li>
        </ul>
      </nav>

    </header>

    <main>

      <!-- CONTENT -->

    </main>

  <script src="scripts/menu.js"></script>

  </body>
</html>
