<!doctype html>
<html lang="en-GB">
  <head>
    <link href="styles/style.css" rel="stylesheet" />
    <link href="styles/about.css" rel="stylesheet" />
    <link href="styles/publications.css" rel="stylesheet" />
    <link href="styles/software.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Daniel Thédié" />
    <meta name="description" content="Daniel Thédié - Research Software Engineer at the University of Edinburgh" />

    <title>Daniel Thédié</title>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Daniel Thédié",
      "url": "https://danielthedie.github.io/",
      "sameAs": [
        "https://github.com/DanielThedie",
        "https://orcid.org/0000-0002-1352-7245"
      ],
      "email": "daniel.thedie@ed.ac.uk",
      "jobTitle": "Research Software Engineer",
      "affiliation": "University of Edinburgh"
    }
    </script>
  </head>

  <body>
    <header>
      
      <div class="name-title">
        <h1>Daniel Thédié</h1>
      </div>

      <img src="resources/Profile.jpg" alt="Picture of Daniel Thédié" class="profile-pic" />

      <div class="bio-links">
      <a href="mailto:daniel.thedie@ed.ac.uk" class="bio-link" target="_blank" rel="noopener">
          <span class="fa fa-envelope"></span>
      </a>
      <a href="https://github.com/DanielThedie" class="bio-link" target="_blank" rel="noopener">
          <span class="fab fa-github"></span>
      </a>
      <a href="https://orcid.org/my-orcid?orcid=0000-0002-1352-7245" class="bio-link" target="_blank" rel="noopener">
          <span class="fab fa-orcid"></span>
      </a>
      </div>
      
      <nav class="menu">
        <ul>
            <li><a href="index.html">About</a></li>
            <li><a href="software.html">Software</a></li>
            <li><a href="publications.html">Publications</a></li>
        </ul>
      </nav>

    </header>

    <main>

      <!-- CONTENT -->

    </main>
  </body>
</html>
